# Remove after completion
FOLDER*
README_temp.md
./deployments/

# Secrets
*.tfvars
**/*.tfvars.*

# Files
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl
*.tfplan

# Folders
.terraform/
*.tfstate.d/
